*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}

h1 {
  margin-top: 25px;
  text-align: center;
}

.container {
  margin: 20px auto;
  width: 80vw;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}


.bookCard {
  flex-grow: 1;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  min-width: 20%;
  max-width: 40%;
  min-height: 150px;
  margin: 10px;
  padding: auto;
  background-color: #d3d3d3;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.7);
  text-align: center;
  position: relative;
}
.bookCard:hover {
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.7);
}
.bookTitle {
  font-style: italic;
  font-size: 1.5em;
}

.bookContent {
padding: 5px;
}

.bookAuthor {
  font-weight: bold ;
}

.deleteBtn {    
  position: absolute;
  top: 5px;
  right: 25px;
  text-align: end;
  border: none;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
}

.deleteBtn::before {
  content: "remove";
  text-align: center;
  position: relative;
  position: block;
  padding: 10px;
  width: 100px;
  border-radius: 20px;
  bottom: 30px;
  left: 45px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.15s ease-out;
  transform-origin: bottom;
}

.deleteBtn::after {
  content: '\00D7';
  position: absolute;
  transition: transform 0.3s ease-out;
}

.deleteBtn:hover::after {
  font-weight: 700;
  transform: rotate(90deg);

}

.deleteBtn:hover::before{
    opacity: 1;
}


.newBtn {
  position: fixed;
  text-align: center;
  padding: 15px;
  background-color: blueviolet;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  right: 10vw;
  bottom: 15vh;
  cursor: pointer;
  transition: box-shadow 0.2s ease-out;
}

.newBtn:hover{
  box-shadow: 0px 1px 8px 2px rgba(0, 0, 0, 0.7);

}
.form .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  z-index: 1;
}


.form .content {
  position: absolute;
  top: 50px;
  left: calc(50vw - 200px);
  text-align: center;
  width: 400px;
  height: 400px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  z-index: 2;
}
.form .content h2 {
margin: 30px;
}

input[name="wasRead"] {
  margin: 15px auto;
  position: relative;
  appearance: none;
  width: 40px;
  height: 20px;
  background-color: #c6c6c6;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
input[name="wasRead"]:hover{
  box-shadow:0px 0px 3px 1px gray;
}

input[name="wasRead"]:checked {
  background-color: #03a9f4;
}

input[name="wasRead"]::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  transition: 0.3s;
}

input[name="wasRead"]:checked::before {
  left: 20px;
}

input[type="text"] {
  width: 250px;
  margin: 15px;
  padding: 5px 10px;
  border-radius: 2em;
  outline: none;
}

.closeBtn{    
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
}
.addBtn {
  padding: 0.5em 1em;
  border-radius: 10px;
  margin: 15px;
}
.addBtn:hover{
  box-shadow: 0px 0px 5px 1px gray;
}
.wasReadDiv label{
  position: relative;
  bottom: 20%;
  padding-right: 10px;
}

.numOfPagesDiv{
  margin: 15px;
}

input[type="number"]{
  width: 50px;
  margin-left: 20px;
}
