:root{
  --clr-100: #FFF ;
  --clr-200: #F5F4F3 ;
  --clr-800: #A9A4A1;
  --clr-900: #000;

  --ff-primary: 'Pontano Sans', sans-serif;
  --ff-accent: 'Montserrat', sans-serif;
}


.hidden {
  display: none;
}

display-inline{
  display: inline;
}
.outerContainer1280{
  width: 1280px;
  margin: 0 auto;
}

.headerContainer{
  margin-right: 76px;
  margin-top: 64.5px;
  position: relative;
}

h1 {
  display: inline-block;
  font-family:var(--ff-accent);
  font-weight: 700;
  font-size: 51px;
  line-height: 62px;
  letter-spacing: -0.42px;
  color: var(--clr-900);
  margin-left: 76px;
}

.logIn{
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 26px;
  line-height: 33px;
  width: 123px;
  height: 62px;
  border: 2px solid var(--clr-900);
  background-color: transparent;
  position: absolute;
  right: 76px;
}

.container {
  margin-top: 60px;
  margin-left: 76px;
  width: min(1280px, 100vw);
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: start;
}
  
.bookCard {
  width: 293px;
  height: 366px;
  margin-right: 76px;
  margin-bottom: 76px;
  background-color: var(--clr-200);
  position: relative;
  padding: 38px 30px ;

}
.bookTitle {
  font-family: var(--ff-accent);
  font-weight: 400;
  font-size: 27px;
  line-height: 40px;
}

.bookAuthor {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  margin-top: 25px;
}

.bookWasRead {
  position: absolute;
  width: 104px;
  height: 40px;
  right: 25px;
  bottom: 11px;
  font-family: var(--ff-accent);
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
}

.bookRead .tick {
  display: inline-block;
  width: 23px;
  height: 19.03px;
  margin-right: 12px;
}

.bookEditBtn {
  position:absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.addBookBtnOuter{
  position: fixed;
  bottom: 550px;
  right: 186px;
  z-index: 1;
}

.addBookBtn {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 297px;
  height: 76px;
  color: var(--clr-100);
  font-family: var(--ff-primary);
  font-size: 34px;
  line-height: 44px;
  padding-top: 19.01px;
  transform: rotate(-90deg);
  transition: transform 500ms, 
  background-color 400ms;
}

 .addBookBtn img {
  margin-right: 27.09px;
  margin-left: 36.04px;
  height: 30.96px;
  width: 27.27px;
 }

 #addBook {
  display: none;
}

.addBookBtn label::before {
  content: "";
  position: absolute;
  z-index: -1;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr-900);
  transition: background-color 500ms,
    top  500ms ,
    left  500ms,
    right  500ms;
}


#addBook:checked+.addBookBtn {
  background-color: transparent;
  transform:  rotate(-90deg) translateY(-631px);
 }

 #addBook:checked+.addBookBtn label::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -100vw;
  left: -100vh;
  right: -100vh;
  background: rgba(0,0,0,0.7); 
 }

.filters {
  margin-left: 76px;
  margin-top: 24.5px;
}

.filters > * {
  display: inline;
}

 .filters input[type="radio"] {
  appearance: none;
 }

.filters label{
  margin-right: 42px;
  height: 45px;
  width: 35px;
  font-family:var(--ff-primary);
  font-size: 35px;
  letter-spacing: -0.29px;
  line-height: 45px;
  color: var(--clr-800);
}

.filters input[type="radio"]:checked ~ label{
  color: var(--clr-900);
  text-decoration: underline;
 }
 
.form .overlay{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom:0;
  background-color: rgba(0,0,0,0.7);
  user-select: none;
 }

.form .content.slideOut {
  position: fixed;
  top:0;
  right: 0;
  height: 100vh;
  width: 631px;
  background-color: var(--clr-100);
  animation: slideOut 500ms forwards;
}

@keyframes slideOut {
  0% { right: 0;}
  100% {right: -631px;}
}

.form .content.active {
  display: block;
  position: fixed;
  top:0;
  right: 0;
  height: 100vh;
  width: 631px;
  background-color: var(--clr-100);
  animation: slide 500ms forwards;
}

@keyframes slide {
  from {right:-631px;}
  to {right: 0;}
}


.form .closeBtn {
  margin-top: 38px;
  margin-left: 566px;
  width: 35px;
  height: 35px;
}

.form .closeBtn:hover{
  animation: wiggle 300ms;
 }

 @keyframes wiggle {
  0%   { transform: rotate(0deg);}
  33%   { transform: rotate(-10deg);}
  66%   { transform: rotate(10deg);}
  100%  { transform: rotate(0deg);}
}

.form input[type="text"]{
   margin-top: 84px;
   font-family: var(--ff-primary);
   font-size: 30px;
   line-height: 38px;
   margin-left: 54px;
   width: 81.8%;
   border: none;
   border-bottom: 2px solid var(--clr-900);
   outline: none;
}

  .inputDiv{
    position: relative;
  }

.floating-label {
  position: absolute;
  color: var(--clr-800);
  font-size: 30px;
  line-height: 38px;
  margin-left: 54px;
  pointer-events: none;
  left: 0px;
  bottom: 0px;
  transition: 0.2s ease all;
}

.form input[type="text"]:focus ~ .floating-label,
.form input[type="text"]:not(:focus):valid ~ .floating-label{
  bottom: 35px;
  font-size: 14px;  
}

.form input[type="checkbox"] {
  appearance: none; 
}

.form label[for="wasRead"] {
  display: block;
  position: relative;
  margin: 0;
  margin-top: 85px;
  margin-left: 118px;
  height: 37.98px;
  width: 65px;
  color: var(--clr-900);
  font-family: var(--ff-primary);
  font-size: 30px;
  line-height: 38px;
}

.form label[for="wasRead"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: -60px;
  height: 40px;
  width: 40px;
  border: solid 2px var(--clr-900);
}

.form input[type="checkbox"]:checked+label[for="wasRead"]::before{
  background-image:  url("images/tick.png");
  background-clip: border-box;
  background-repeat: no-repeat;
  background-position: center;
}
.form button {
  position: absolute;
  left: 57.5px;
  bottom: 45px;
  color: var(--clr-100);
  font-family: var(--ff-primary);
  font-size: 34px;
  line-height: 44px;
  background-color: var(--clr-900);
  height: 76px;
}

.form .addBtn {
  width: 516px;
}

.form .saveBtn {
width: 412.8px;
}

.form .deleteBtn {
  background-color: var(--clr-900);
  left: 516px;
  padding: 15px;
}

.form .deleteBtn svg{
  fill: var(--clr-100);
  width: 100%;
  height: 100%;
}