.hidden {
  display: none;
}

display-inline{
  display: inline;
}
.outerContainer1280{
  width: 1280px;
  margin: 0 auto;
}

.headerContainer{
  margin-right: 76px;
  margin-top: 64.5px;
  position: relative;
}

h1 {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 51px;
  line-height: 62px;
  letter-spacing: -0.42px;
  color: #000;
  margin-left: 76px;
}

.logIn{
  font-family: 'Pontano Sans', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 33px;
  width: 123px;
  height: 62px;
  border: 2px solid #000;
  background-color: transparent;
  position: absolute;
  right: 76px;
}

.container {
  margin-top: 60px;
  margin-left: 76px;
  width: 1280px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: start;
}
  
.bookCard {
  width: 293px;
  height: 366px;
  margin-right: 76px;
  margin-bottom: 76px;
  background-color: #F5F4F3;
  position: relative;
  padding: 38px 30px ;

}
.bookTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 27px;
  line-height: 40px;
}

.bookAuthor {
  font-family: 'Pontano Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  margin-top: 25px;
}

.bookRead {
  position: absolute;
  width: 104px;
  height: 40px;
  right: 25px;
  bottom: 11px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
}

.bookRead .tick {
  display: inline-block;
  width: 23px;
  height: 19.03px;
  margin-right: 12px;
}

.bookEditBtn {
  position:absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.addBookBtnOuter{
  position: fixed;
  bottom: 550px;
  right: 186px;
  z-index: 1;
}

.addBookBtn {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 297px;
  height: 76px;
  color: #FFF;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 34px;
  line-height: 44px;
  padding-top: 19.01px;
  transform: rotate(-90deg);
  transition: transform 500ms ease-in-out, 
  background-color 400ms ease-out;
}

 .addBookBtn img {
  margin-right: 27.09px;
  margin-left: 36.04px;
  height: 30.96px;
  width: 27.27px;
 }

 #addBook {
  display: none;
}

.addBookBtn label::before {
  content: "";
  position: absolute;
  z-index: -1;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  transition: background-color 500ms,
    top  500ms ease-out ,
    left  500ms ease-out,
    right  500ms ease-out;
}


#addBook:checked+.addBookBtn{
  background-color: transparent;
  transform:  rotate(-90deg) translateY(-631px);
 }

 #addBook:checked+.addBookBtn label::before{
  content: "";
  position: absolute;
  z-index: -1;
  top: -100vw;
  left: -100vh;
  right: -100vh;
  background: rgba(0,0,0,0.7); 
  
 }

.filters {
  margin-left: 76px;
  margin-top: 24.5px;
}

.filters > * {
  display: inline;
}

 .filters input[type="radio"] {
  appearance: none;
 }

.filters label{
  margin-right: 42px;
  height: 45px;
  width: 35px;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 35px;
  letter-spacing: -0.29px;
  line-height: 45px;
  color: #A9A4A1;
}

.filters input[type="radio"]:checked ~ label{
  color: #000;
  text-decoration: underline;
 }
 
.form .overlay{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom:0;
  background-color: rgba(0,0,0,0.7);
  user-select: none;
 }

/* 
.form .content {
  display: none;
  position: absolute;
  top: 0;
  right: -100%;
} */

.form .content.slideOut {
  position: fixed;
  top:0;
  right: 0;
  height: 100vh;
  width: 631px;
  background-color: #FFF;
  animation: slideOut 500ms ease-out forwards;
}

@keyframes slideOut {
  0% { right: 0;}
  100% {right: -631px;}
}

.form .content.active {
  display: block;
  position: fixed;
  top:0;
  right: 0;
  height: 100vh;
  width: 631px;
  background-color: #FFF;
  animation: slide 500ms ease-out forwards;
}

@keyframes slide {
  from {right:-631px;}
  to {right: 0;}
}


.form .closeBtn {
  position: absolute;
  top: 38px;
  right: 30px;
  width: 35px;
  height: 35px;
}

.form .closeBtn:hover{
  animation: wiggle 300ms;
 }

 @keyframes wiggle {
  0%   { transform: rotate(0deg);}
  33%   { transform: rotate(-10deg);}
  66%   { transform: rotate(10deg);}
  100%  { transform: rotate(0deg);}
}
 
 .form input[type="text"]:nth-last-of-type(1){
   margin-top: 154px;
 }

 .form input[type="text"]{
  color: #A9A4A1;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 30px;
  line-height: 38px;
  margin-left: 54px;
  width: 81.8%;
  border: none;
  border-bottom: 2px solid #000;
}
.form input[type="checkbox"] {
  appearance: none; 
}

.form label[for="wasRead"] {
  display: block;
  position: relative;
  margin: 0;
  margin-top: 85px;
  margin-left: 118px;
  height: 37.98px;
  width: 65px;
  color: #000;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 30px;
  line-height: 38px;
}
.form label[for="wasRead"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: -60px;
  height: 40px;
  width: 40px;
  border: solid 2px #000;
}

.form input[type="checkbox"]:checked+label[for="wasRead"]::before{
  background-image:  url("images/tick.png");
  background-clip: border-box;
  background-repeat: no-repeat;
  background-position: center;
}
.form button {
  position: absolute;
  height: 76px;
  width: 516px;
  left: 57.5px;
  bottom: 45px;
  color: #FFF;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 34px;
  line-height: 44px;
  background-color: #000;
}